{% extends "shared/_layout.html" %}
{% block main_content %}

    <div class="hero">
        <div class="hero-inner">
            <div class="banner-text">
                <h1>Find, install and publish Python packages with the Python Package Index </h1>
            </div>

            <div class="search-bar">
                <input type="text" placeholder=" Search projects" class="form-control">
            </div>
        </div>
        Or <a href="#">browse projects</a>
    </div>

    <div class="pypi-stats">
        <div class="stat">270,183 projects</div>
        <div class="stat">2,172,982 releases</div>
        <div class="stat">3,461,047 files</div>
        <div class="stat">463,005 users</div>
    </div>

    <div class="blurb">
        <div class="blurb-inner">
            <div class="about-logo">
                <img alt src="/static/img/logo-large.svg">
            </div>
            <div class="about-text">
                <p class="lead-paragraph">
                    The Python Package Index (PyPI) is a repository of software for the Python programming language.
                </p>
                <p>PyPI helps you find and install software developed and shared by the Python community.</p>
                <p>Package authors use PyPI to distribute their software.</p>
            </div>
        </div>
    </div>

    <div class="container-fluid project-list">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-4">

                <h2>Trending projects</h2>

                <div class="subtitle">
                    Trending projects as downloaded by the community
                </div>

                {% for p in trending_packages %}
                <div class="project">
                    <div class="title">
                        <a href="#">{{ p.name }} {{ p.version }}</a>
                        <div class="desc">PLACEHOLDER DESC</div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-lg-5">

                <h2>New releases</h2>

                <div class="subtitle">
                    Hot off the press: the newest project releases
                </div>

                {% for p in new_packages %}
                <div class="project">
                    <div class="title">
                        <a href="#">{{ p.name }} {{ p.version }}</a>
                        <div class="desc">{{ p.desc }}</div>
                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="col-md-1"></div>
        </div>
    </div>

{% endblock %}