body {
    color: #222;
    background: #fff;
    font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.title {
    font-weight: bold;
}

.main_content {
    padding: 0;
    margin: 0;
}

nav {
    background-color: #0073b7;
    padding: 10px;
    font-size: 20px;
    color: white;
    height: 85px;
}

nav > a {
    color: white;
}

a:hover {
    color: blue;
}

.hero {
    background-color: #006dad;
    color: white;
    padding: 50px 0 65px;
    text-align: center;
    font-size: 20px;
}

.hero .hero-inner {
    text-align: center;
    max-width: 810px;
    margin: 0 auto 30px auto;
}

.banner-text {
    padding-bottom: 40px;
    margin: 0px 40px;
}

.search-bar {
    max-width: 630px;
    text-align: center;
    margin-left: 90px;
    width: 100%;
    padding-right: 12px;
}

.hero h1 {
    font-size: 40px;
    font-weight: 600;
}

.hero a {
    color: white;
    text-decoration: underline;
}

.form-control {
    display: inline-block;
    border-radius: 2px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 5px;
}

.pypi-stats {
    background-color: #ECECEC;
    text-align: center;
    padding: 20px 0 19px;
    border-bottom: 1px solid #d3d3d3;
}

.pypi-stats .stat {
    display: inline-block;
    padding-right: 30px;
    padding-left: 10px;
    font-size: 19.2px;
    color: #003d61;
}

.blurb {
    display: inline-block;
    border-bottom: 1px solid #d3d3d3;
    padding: 70px 0px;
}

.blurb .about-text {
    text-align: left;
    color: #606060;
}

.blurb .about-text .lead-paragraph {
    font-size: 19.2px;
    font-weight: 600;
}

.blurb .about-text p {
    font-size: 16px;
}

.blurb .logo-img {
    text-align: right;
}

.project-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #ECECEC;
}

.project-list .project {
    border: 1px solid #d3d3d3;
    padding: 10px;
    background-color: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,.05);
    min-height: 45px;
    margin-top: 15px;
    color: black;
    margin-bottom: 15px;
}

.project .title {
    font-size: 18.4px;
}

.project a {
    color: #006dad;
    font-weight: 600;
}

.project .desc {
    font-weight: normal;
    color: #464646;
}

.row h2 {
    font-weight: 600;
    font-size: 20px;
    color: #464646;
}

.row .subtitle {
    font-size: 16px;
    font-weight: 500;
    color: #464646;
}